html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.divBox {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1; /* come back to comment through all flex property uses */
    height: 1000px;
}

.div {
    border: 1px solid lightgray;
    border-radius: 10%;
    flex: 1;
}

#container {
    display: flex;
    gap: 0px;
    height: 1000px;
    width: 1000px;
    flex-basis: 0;
}

.hovered {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-bottom: 20px;
}